// @import "../abstracts/variables";
// @import "../abstracts/mixins";

.add-to-cart,
.customize-product {
  padding: 6px 16px;
  color: $white;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
  border: none;
  outline: none;
  width: 100%;
  margin: 0 6px;

  &:hover {
    transform: scale(1.03);
  }
}

.add-to-cart {
  background-color: $primary-color;
}

.customize-product {
  background-color: $white;
  color: $primary-color;

  border: 1px solid $primary-color;
}

.cart,
.customize {
  font-size: 1.3rem;
  font-weight: 800;
}

.all-products-btn {
  margin: 1rem auto;
  padding: 16px;
  background-color: $grey-color;
  color: $white;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  outline: none;
  width: 200px;
  text-align: center;
}
