@import "../abstracts/variables";
@import "../abstracts/mixins";

.section-title {
  text-align: center;
  text-transform: capitalize;
  color: $primary-color;
  font-size: 2rem;
  font-family: "Exo-2";
  margin-bottom: 2rem;
  font-weight: 500;
}

.hero {
  height: 85vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/hero-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include center-everything;
  color: $white;

  &__content {
    max-width: 800px;
    padding: 20px;

    h1 {
      font-family: "Exo-2";
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
      text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
    }

    p {
      font-size: 1.3rem;
      margin-bottom: 2.5rem;
      font-weight: 400;
    }
  }
  // &__btn {
  //   padding: 15px 22px;
  //   background-color: $primary-color;
  //   background-image: linear-gradient(
  //     to right,
  //     #ffe0b9 0%,
  //     #ffe156 51%,
  //     #ffb04c 100%
  //   );
  //   border-radius: 50px;
  //   font-weight: 600;
  //   border: none;
  //   outline: none;
  //   word-spacing: 3px;
  //   letter-spacing: 2px;
  //   color: $white;
  //   cursor: pointer;
  //   text-transform: uppercase;
  //   transition: 0.3s ease;
  //   box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);

  //   &:hover {
  //     background-color: $white;
  //     color: $secondary-color;
  //     transform: translateY(-3px) scale(1.05);
  //     box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
  // }

  &__btn {
    background-image: linear-gradient(
      to right,
      #8d6e63 0%,
      #744236 51%,
      #8d6e63 100%
    );
    // }

    // .btn {
    margin: 10px auto;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    outline: none;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;

    &:hover {
      background-position: right center;
      color: #fff;
      text-decoration: none;
    }
  }
}

// }

// best seller part
.best-sellers {
  margin: 0;
  padding: 2rem 0;

  @include flex-custom(column, center, center, 6px, nowrap);

  .product-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;

    @include respond(tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;
    }
    @include respond(desktop) {
      grid-template-columns: repeat(4, 1fr);
      gap: 12px;
    }
  }
}

// service card part
.services {
  padding: 4rem 2rem;
  background-color: $white;

  &__grid {
    @include flex-custom(column, space-around, center, 20px, wrap);
    max-width: 1200px;
    margin: 0 auto;
  }
}

.service-card {
  text-align: center;
  flex: 1;
  min-width: 250px;
  padding: 20px;

  &__icon {
    font-size: 3rem;
    color: $primary-color;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 1.3rem;
    color: $secondary-color;
    margin-bottom: 10px;
  }
  p {
    font-size: 0.9rem;
    color: $grey-color;
  }
}

.categories {
  // background-color: red;
  padding: 5rem 1.5rem;
  text-align: center;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 40px auto 0;
  }
}

.category-card {
  position: relative;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  margin: 0.5rem 0;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: transform 0.5s ease;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    color: $white;

    @include flex-custom(column, center, center, 0, nowrap);

    h3 {
      font-size: 2rem;
      margin-bottom: 10px;
    }
    span {
      border-bottom: 2px solid $white;
      padding-bottom: 5px;
    }
  }
  &:hover &__img {
    transform: scale(1.1);
  }
}

// artsits section
.artist-spolight {
  padding: 80px 20px;
  background-color: #f9f6f2;
  margin: 60px 0;

  &__container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 50px;

    @include respond(tablet) {
      text-align: center;
      @include flex-custom(column);
    }
  }

  &__image {
    flex: 1;

    img {
      width: 100%;
      border-radius: 20px;
      box-shadow: 20px 20px 0 $primary-color;
    }
  }

  &__info {
    flex: 1;

    .badge {
      color: $primary-color;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    h2 {
      font-size: 2rem;
      margin: 15px 0;
      color: $secondary-color;
    }
    p {
      font-size: 1.1rem;
      font-style: italic;
      line-height: 1.6;
      margin-bottom: 25px;
    }
  }
}
