// reset styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: $font-primary;
  text-decoration: none;
  // text-transform: capitalize;
  border: none;
  outline: none;
  transition: 0.5s linear;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

// other styles
*::selection {
  // background-color: $dark-purple2;
  color: $white;
}
::-webkit-scrollbar {
  height: 0.3rem;
  width: 0.3rem;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  // background-color: $dark-purple2;
  border-bottom-left-radius: 2rem;
}
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: $bg-color;
  font-family: "Poppins", sans-serif;
}

#root {
  //   width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  border-inline: 1px solid;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "Exo-2";
  font-weight: 500;
  // color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}
